@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

body {
  background: linear-gradient(
    120deg,
    #1e1b4b 10%,
    #312e81 20%,
    #3730a3 30%,
    #4338ca 40%,
    #4f46e5 50%
  );
}
